@{
    ViewBag.Title = "查看详细";
}
@section head{
    <script src="http://218.193.130.178/arcgis_js_api/library/2.4/arcgis/" type="text/javascript"></script>
    <link href="http://218.193.130.178/arcgis_js_api/library/2.4/arcgis/js/dojo/dijit/themes/tundra/tundra.css" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/Visifire.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/util.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/arcgismap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
    <style type="text/css">
        .wrapper{}
        .form-wrapper {border:1px #EAEAEA solid; height: auto; border-radius: 10px 10px 10px 10px;margin: 10px 10px; width: 350px; float:left; padding-bottom:10px;}
	    .form-wrapper h3{background-color: #BABABA;border-radius: 10px 10px 0px 0px; padding:3px;padding-left: 20px; display: block; color:White;}
	    .form-wrapper h3 img{float:right; margin: 0 5px; cursor:pointer;}
	    .form-wrapper h3 img.current{outline:1px #EAEAEA solid;}
	    .form-wrapper h3 img:hover{outline:1px #EAEAEA solid;}
	    .form-wrapper ul{ padding:5px;}
	    .form-wrapper ul li{ margin:5px;}
	    hr{border:1px #EAEAEA solid;}
	    .intro {width:350px;}
	    .form-wrapper p{padding:10px;}
	    .map{ width:700px; padding:10px; height:500px; position:relative; }
	    #infoWindowContent {display:none;}
	    #buildingNameTip {display:none; font-size:12px;height:16px;white-space: nowrap;border: 1px solid #333333; padding: 2px; background-color: #ffffcc; z-index:1}
    </style>
}
<div class="contentcontainer">
<div class="headings altheading"><h2>查看详细</h2></div>
    <div class="contentbox">
    <div><a href='@Url.Action("BrowseMap", "Global")'>返回地图浏览界面</a></div>
    @if (Model != null)
    {
    <div class="wrapper">
        <div class="left">
        <div class="form-wrapper intro clear"><h3>@Model.BDI_Name</h3>
        @if (!String.IsNullOrWhiteSpace(Model.BDI_Introduction))
        {
            <p>@Model.BDI_Introduction</p>
        }
        else
        {
            <p>暂无简介</p>
        }
        <p style="margin-bottom:10px;"><a class="right" href="@Url.Action("Elec", "Report")?b=@Model.BDI_ID">查看详细报表</a></p>
        <hr />
        @if (ViewBag.currentMonth != null)
        {
            <p>当月用电数为：@ViewBag.currentMonth.StatisSVal 度</p>
        }
        </div>
        <div class="form-wrapper intro clear"><h3>实景照片</h3>
        @if (!String.IsNullOrWhiteSpace(Model.BDI_ImageUrl))
        {
            <img src="@Url.Content(Model.BDI_ImageUrl)" alt="@Model.BDI_Name" width="350" alt="@Model.BDI_Name" />
        }
        else
        {
            <p>暂无图片</p>
        }
        </div>
        </div>
        <div class="form-wrapper map tundra" id="map">
            <div id="buildingNameTip">
            </div>
        </div>
        
        <div class="clear"></div>
    </div>
    <div class="wrapper">
        <div class="form-wrapper"><h3 id="monthImgWrapper">最近月用电量<img src="@Url.Content("~/Content/images/img/icons/icon_pie.png")" alt="Pie" /><img src="@Url.Content("~/Content/images/img/icons/icon_line.png")" alt="Line" /><img class="current" src="@Url.Content("~/Content/images/img/icons/icon_column.png")" alt="Column" /></h3>
        <div id="renderRecentMonth"></div>
        </div>
        <div class="form-wrapper"><h3 id="dayImgWrapper">最近天用电量<img src="@Url.Content("~/Content/images/img/icons/icon_pie.png")" alt="Pie" /><img src="@Url.Content("~/Content/images/img/icons/icon_line.png")" alt="Line" /><img class="current" src="@Url.Content("~/Content/images/img/icons/icon_column.png")" alt="Column" /></h3>
        <div id="renderRecentDay"></div>
        </div>
        <div class="form-wrapper"><h3>简要分析</h3>
        @if (ViewBag.monthAnalysisData != null)
        {
            <ul>
            <li>建筑 @Model.BDI_Name 最近月用电量包含数据 @ViewBag.monthAnalysisData["totalRows"] 条   </li>
            <li>总用电量为 @ViewBag.monthAnalysisData["totalSum"] 度，平均用电量 @ViewBag.monthAnalysisData["average"] 度</li>
            <li>最大用电时间为 @ViewBag.monthAnalysisData["maxObj"].TimeBlock ，用电数为 @ViewBag.monthAnalysisData["maxObj"].StatisSVal 度，占总用电比例 @ViewBag.monthAnalysisData["maxObj"].SPercentage </li>
            <li>最小用电时间为 @ViewBag.monthAnalysisData["minObj"].TimeBlock ，用电数为 @ViewBag.monthAnalysisData["minObj"].StatisSVal 度，占总用电比例 @ViewBag.monthAnalysisData["minObj"].SPercentage </li>
            </ul>
        }
        else
        {
            <p>暂无月用电量分析</p>
        }
        <hr />
        @if (ViewBag.dayAnalysisData != null)
        {
            <ul>
            <li>建筑 @Model.BDI_Name 最近月用电量包含数据 @ViewBag.dayAnalysisData["totalRows"] 条   </li>
            <li>总用电量为 @ViewBag.dayAnalysisData["totalSum"] 度，平均用电量 @ViewBag.dayAnalysisData["average"] 度</li>
            <li>最大用电时间为 @ViewBag.dayAnalysisData["maxObj"].TimeBlock ，用电数为 @ViewBag.dayAnalysisData["maxObj"].StatisSVal 度，占总用电比例 @ViewBag.dayAnalysisData["maxObj"].SPercentage </li>
            <li>最小用电时间为 @ViewBag.dayAnalysisData["minObj"].TimeBlock ，用电数为 @ViewBag.dayAnalysisData["minObj"].StatisSVal 度，占总用电比例 @ViewBag.dayAnalysisData["minObj"].SPercentage </li>
            </ul>
        }
        else
        {
            <p>暂无天用电量分析</p>
        }
        <hr />
        <ul><li><a class="right" href="@Url.Action("Elec", "Analysis")">查询详细分析</a></li></ul>
        </div>
        <div class="clear"></div>
    </div>
    }
    
    
</div></div>
<script type="text/javascript">
    $(function () {
        var monthChart = new Visifire("@Url.Content("~/Content/sl/SL.Visifire.Charts.xap")", "monthChart", 350, 350, "White");
        monthChart.setDataXml($("#monthChartTemplate").html());
        var monthChartObject = null;
        monthChart.preLoad = function (args) {
            monthChartObject = args[0];
        }
        monthChart.render("renderRecentMonth");
        var dayChart = new Visifire("@Url.Content("~/Content/sl/SL.Visifire.Charts.xap")", "dayChart", 350, 350, "White");
        dayChart.setDataXml($("#dayChartTemplate").html());
        var dayChartObject = null;
        dayChart.preLoad = function (args) {
                dayChartObject = args[0];
        }
        dayChart.render("renderRecentDay");

        $("#monthImgWrapper img").click(function () {
            var renderType = $(this).attr("alt");
            $("#monthImgWrapper img").removeClass("current");
            $(this).addClass("current");
            monthChartObject.Series[0].SetPropertyFromJs("RenderAs", renderType);
        });
        $("#dayImgWrapper img").click(function () {
            var renderType = $(this).attr("alt");
            $("#dayImgWrapper img").removeClass("current");
            $(this).addClass("current");
            dayChartObject.Series[0].SetPropertyFromJs("RenderAs", renderType);
        });
        dojo.addOnLoad(function(){
            var fudanMap = new FudanMap('@Url.Content("~")');
            fudanMap.init();
            fudanMap.activeBuilding("@Model.BDI_ID");
            fudanMap.reflashOnClick();  
        });
    });
</script>
<script id="monthChartTemplate" type="text/x-jQuery-tmpl">
	<vc:Chart xmlns:vc="clr-namespace:Visifire.Charts;assembly=SLVisifire.Charts" Bevel="True" AnimatedUpdate="True" View3D="True" IndicatorEnabled="True" 
    ZoomingEnabled="True" AnimationEnabled="true" Width="350" Height="350" Theme="Theme1" 
    BorderThickness="1" BorderBrush="Gray" ToolBarEnabled="True" ShadowEnabled="True">
        <vc:Chart.Titles>
        <vc:Title Text="最近月用电量"/>
        </vc:Chart.Titles>

        <vc:Chart.AxesX>
            <vc:Axis Title="日期（月）"/>
        </vc:Chart.AxesX>
        <vc:Chart.AxesY>
            <vc:Axis Title="用电数（度）"/>
        </vc:Chart.AxesY>

        <vc:Chart.Series>
        <vc:DataSeries RenderAs="Column">
            <vc:DataSeries.DataPoints>
            @if (ViewBag.monthData != null)
            {
                foreach (var item in ViewBag.monthData)
                {
                <vc:DataPoint AxisXLabel="@item.TimeBlock" YValue="@item.StatisSVal"/>
                }
            }
            </vc:DataSeries.DataPoints>
        </vc:DataSeries>

        </vc:Chart.Series>
    </vc:Chart>
</script>
<script id="dayChartTemplate" type="text/x-jQuery-tmpl">
	<vc:Chart xmlns:vc="clr-namespace:Visifire.Charts;assembly=SLVisifire.Charts" Bevel="True" AnimatedUpdate="True" View3D="True" IndicatorEnabled="True" 
    ZoomingEnabled="True" AnimationEnabled="true" Width="350" Height="350" Theme="Theme1" 
    BorderThickness="1" BorderBrush="Gray" ToolBarEnabled="True" ShadowEnabled="True">
        <vc:Chart.Titles>
        <vc:Title Text="最近天用电量"/>
        </vc:Chart.Titles>

        <vc:Chart.AxesX>
            <vc:Axis Title="日期（天）"/>
        </vc:Chart.AxesX>
        <vc:Chart.AxesY>
            <vc:Axis Title="用电数（度）"/>
        </vc:Chart.AxesY>

        <vc:Chart.Series>
        <vc:DataSeries RenderAs="Column">
            <vc:DataSeries.DataPoints>
            @if (ViewBag.dayData != null)
            {
                foreach (var item in ViewBag.dayData)
                {
                <vc:DataPoint AxisXLabel="@item.TimeBlock" YValue="@item.StatisSVal"/>
                }
            }                
            </vc:DataSeries.DataPoints>
        </vc:DataSeries>

        </vc:Chart.Series>
    </vc:Chart>
</script>
<script type="x-jquery-tmpl" id="chartTemplate">
    <vc:Chart xmlns:vc="clr-namespace:Visifire.Charts;assembly=SLVisifire.Charts" Bevel="True" AnimatedUpdate="True" View3D="False" IndicatorEnabled="True" 
            ZoomingEnabled="True" AnimationEnabled="true" Width="370" Height="250" Theme="Theme1" 
            BorderThickness="1" BorderBrush="Gray" ToolBarEnabled="False" ShadowEnabled="True">
        <vc:Chart.Titles>
            <vc:Title Text="${title}" Padding="0,0,0,5"/>
        </vc:Chart.Titles>

        <vc:Chart.AxesX>
            <vc:Axis Title="${xAxisTitle}"/>
        </vc:Chart.AxesX>
        <vc:Chart.AxesY>
            <vc:Axis Title="${yAxisTitle}"/>
        </vc:Chart.AxesY>

        <vc:Chart.Series>
            <vc:DataSeries RenderAs="${renderType}">
                <vc:DataSeries.DataPoints>
                    {{each queryList}}
                        <vc:DataPoint AxisXLabel="${TimeBlock}" YValue="${StatisVal}"/>
                    {{/each}}
                </vc:DataSeries.DataPoints>
            </vc:DataSeries>
        </vc:Chart.Series>
    </vc:Chart>
</script>