@{
    ViewBag.Title = "能耗分析";
}
@section head{
    <link href="../../../../Content/css/jquery-ui/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/css/jquery-ui/datepicker/jquery-ui-1.8.11.datepicker.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/css/form.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/css/Pager.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/css/tab.css" rel="stylesheet" type="text/css" />

    <script src="../../../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../../../Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../../../Scripts/jquery.ui.datepicker-zh-CN.js" type="text/javascript"></script>
    <script src="../../../../Scripts/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="../../../../Scripts/jquery.pager.js" type="text/javascript"></script>
    <script src="../../../../Scripts/Visifire.js" type="text/javascript"></script>
    <script src="../../../../Scripts/util.js" type="text/javascript"></script>

    <style type="text/css">
        #analysisDiv div ul li{ margin-left:30px;}
    </style>
}
<div class="contentcontainer">
<div class="headings altheading"><h2>能耗分析</h2></div>
    <div class="contentbox">

    <div id="tabs">
	    <ul class="tab-ul">
		    @*<li><a href="@Url.Action("Elec", "Analysis")">单一对象按时间</a></li>*@
		    <li><a href="@Url.Action("VCElec", "Analysis")">单一对象按分类</a></li>
		    <li><a href="@Url.Action("VGCElec", "Analysis")">单一对象按时间和分类</a></li>
		    <li><a href="@Url.Action("HElec", "Analysis")">多个对象</a></li>
            <li class="current"><a>多个对象按时间</a></li>
            <li><a href="@Url.Action("HCElec", "Analysis")">多个对象按分类</a></li>
	    </ul>
	    <div class="tab-div">
        <form id="myForm" action="#" method="post">
        <ul class="em-form-ul">
            <li>
                <ul>
                    <li><span class="red">* </span>查询对象（支持同级别单个或多个对象，最多5个）： </li>
                    <li><input id="queryObj" name="queryObj" type="text" class="inputbox" readonly="readonly" value=""/></li>
                    <li></li>
                </ul>
                <ul>
                    <li><span class="red">* </span>能耗分类： </li>
                    @*<li><input id="powerTypeName" name="powerTypeName" type="text" class="inputbox" readonly="readonly" value="电..."/></li>*@
                    <li><select id="powerType" name="powerType">
                        @foreach (var item in Model)
                        {
                            if (item.PC_ID.Length == 3)
                            {
                                var prefix = "总用";
                                <option label="@item.PC_Name" value="@item.PC_ID">@prefix@item.PC_Name</option>
                            }
                            else
                            {
                                var s = new string('-', item.PC_ID.Length - 3);
                                <option value="@item.PC_ID">@s@item.PC_Name</option>
                            }
                        }
                    </select></li>
                    <li></li>
                </ul>
                <div class="clear"></div>
            </li>
            <li>
                <ul>
                    <li><span class="red">* </span>起始日期：</li>
                    <li><input id="startTime" name="startTime" type="text" class="inputbox" readonly="readonly" /></li>
                    <li></li>
                </ul>
                <ul>
                    <li><span class="red">* </span>结束日期：</li>
                    <li><input id="endTime" name="endTime" type="text" class="inputbox" readonly="readonly" /></li>
                    <li></li>
                </ul>
                <div class="clear"></div>
            </li>
             <li id="statisticModeLi"class="hidden">
                <ul>
                    <li>统计方式：</li>
                    <li>
                        <div id="statisticMode">
                            <input type="radio" id="totalEnergy" name="statisticEnergy" value="totalEnergy" checked="checked" /><label for="totalEnergy"> 总能耗</label>
                            <input type="radio" id="unitEnergy" name="statisticEnergy" value="unitEnergy" /><label for="unitEnergy"> 单位面积能耗 </label>
                        </div>
                    </li>
                    <li></li>
                </ul>
                <div class="clear"></div>
            </li>
            <li>
                <ul>
                    <li>统计粒度：</li>
                    <li>
                        <div id="granularitySet">
                            <input type="radio" id="monthGranularity" name="granularity" value="month" checked="checked" /><label for="monthGranularity"> 按月 </label>
                            <input type="radio" id="dayGranularity" name="granularity" value="day" /><label for="dayGranularity"> 按天 </label>                       
                            <input type="radio" id="assignMonthGranularity" name="granularity" value="specificMonth" /><label for="assignMonthGranularity"> 指定月份 </label> 
                            <input type="radio" id="assignDayGranularity" name="granularity" value="specificDay" /><label for="assignDayGranularity"> 指定日期 </label>                                                  
                            <ul id="assignSpecificMonthModule"  class="hidden">
                               <li>选择月份：</li>
                               <li>
                                  <select id="assignSpecificMonth" name="assignSpecificMonthGranularity">
                                     <option value="1">1</option>
                                     <option value="2">2</option>
                                     <option value="3">3</option>
                                     <option value="4">4</option>
                                     <option value="5">5</option>
                                     <option value="6">6</option>
                                     <option value="7">7</option>
                                     <option value="8">8</option>
                                     <option value="9">9</option>
                                     <option value="10">10</option>
                                     <option value="11">11</option>
                                     <option value="12">12</option>                                   
                               </select></li>
                            </ul> 
                             <ul id="assignSpecificDayModule"  class="hidden">
                               <li>选择日期：</li>
                               <li>
                                  <select id="assignSpecificDay" name="assignSpecificDayGranularity">
                                     <option value="1">1</option>
                                     <option value="2">2</option>
                                     <option value="3">3</option>
                                     <option value="4">4</option>
                                     <option value="5">5</option>
                                     <option value="6">6</option>
                                     <option value="7">7</option>
                                     <option value="8">8</option>
                                     <option value="9">9</option>
                                     <option value="10">10</option>
                                     <option value="11">11</option>
                                     <option value="12">12</option> 
                                     <option value="13">13</option>
                                     <option value="14">14</option>
                                     <option value="15">15</option>
                                     <option value="16">16</option>
                                     <option value="17">17</option>
                                     <option value="18">18</option>
                                     <option value="19">19</option>
                                     <option value="20">20</option>
                                     <option value="21">21</option>
                                     <option value="22">22</option>
                                     <option value="23">23</option>
                                     <option value="24">24</option>     
                                     <option value="25">25</option>
                                     <option value="26">26</option>
                                     <option value="27">27</option>
                                     <option value="28">28</option>
                                     <option value="29">29</option>
                                     <option value="39">30</option>
                                     <option value="31">31</option>                                                                     
                               </select></li>
                            </ul>                                                                              
                        </div>
                    </li>
                    <li></li>
                </ul>
                <ul>
                    <li>显示方式：</li>
                    <li>
                        <div id="renderTypeSet">
                            <input type="radio" id="renderList" name="renderRadio" value="List" checked="checked" /><label for="renderList"> 一览表 </label>
                            <input type="radio" id="renderColumn" name="renderRadio" value="Column" /><label for="renderColumn"> 柱状图 </label>
                            <input type="radio" id="renderLine" name="renderRadio" value="Line" /><label for="renderLine"> 折线图 </label>
                            <input type="radio" id="renderStack" name="renderRadio" value="StackedColumn" /><label for="renderStack"> 栈状图 </label>
                        </div>
                    </li>
                    <li></li>
                </ul>
                <div class="clear"></div>
            </li>
            <li>
                <ul>
                    <li>是否分页显示：</li>
                    <li>
                        <div id="ifPageSet">
                            <input type="radio" id="posPage" name="pageRadio" value="posPage" checked="checked" /><label for="posPage"> 分页 </label>
                            <input type="radio" id="negPage" name="pageRadio" value="negPage" /><label for="negPage"> 不分页 </label>
                        </div>
                    </li>
                    <li></li>
                </ul>
                <div class="clear"></div>
            </li>
            <li><input id="queryButton" name="" type="submit" value="  查  询  " class="btn m-button"/></li>
         </ul>
         </form>

         <fieldset id="resultDiv" class="hidden left"><legend>查询结果</legend>
            <div id="dataDiv">
            <table id="dataTable" class="hidden" width="500">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>查询对象</th>
                        <th id = "dataDivUnit">用能值</th>
                        <th>所占比例</th>
                    </tr>
                </thead>
                <tbody id="resultDataDiv">
                </tbody>
            </table>
            <div id="chartDiv" class="hidden"></div>
            <div id="pager"></div>
            @*<input id="exportExcel" name="exportExcel" type="button" value=" 导出Excel " class="btn" />*@
            </div>
            <div id="noDataDiv">当前查询范围没有数据</div>
         </fieldset>
         <fieldset id="analysisDiv" class="hidden left"><legend>分析结果</legend><div></div>
         </fieldset>
         <div class="clear"></div>
        </div>
    </div>

</div></div>

<input type="hidden" id="objIDs" value="0" />
<input type="hidden" id="objType" value="0"/>
@*<input type="hidden" id="powerType" value=""/>*@

<script type="text/javascript">
    $(function () {
        $("#startTime").datepicker({ changeMonth: true, changeYear: true });
        $("#endTime").datepicker({ changeMonth: true, changeYear: true });
        $("#assignMonthGranularity").click(function () {
            if ($("input[name='granularity']:checked").val() == "specificMonth")
                $("#assignSpecificMonthModule").show();
        });
        $("#assignDayGranularity").click(function () {
            if ($("input[name='granularity']:checked").val() == "specificDay")
                $("#assignSpecificDayModule").show();
        });
        $("#startTime").change(function () {
            $("#resultDiv").slideUp("fast");
            $("#analysisDiv").slideUp("fast");
            $("#dataDiv").hide();
        });
        $("#endTime").change(function () {
            $("#resultDiv").slideUp("fast");
            $("#analysisDiv").slideUp("fast");
            $("#dataDiv").hide();
        });
        $("#powerType").change(function () {
            $("#resultDiv").slideUp("fast");
            $("#analysisDiv").slideUp("fast");
            $("#dataDiv").hide();
        });
        $("#assignSpecificMonth").change(function () {
            $("#resultDiv").slideUp("fast");
            $("#analysisDiv").slideUp("fast");
            $("#dataDiv").hide();
        });
        $("#assignSpecificDay").change(function () {
            $("#resultDiv").slideUp("fast");
            $("#analysisDiv").slideUp("fast");
            $("#dataDiv").hide();
        });
        $("#statisticMode").buttonset();
        $("#granularitySet").buttonset();
        $("#renderTypeSet").buttonset();
        $("#ifPageSet").buttonset();
        $("input[name='granularity']").change(function () {
            $("#resultDiv").slideUp("fast");
            $("#analysisDiv").slideUp("fast");
            $("#dataDiv").hide();
            if ($("input[name='granularity']:checked").val() != "specificMonth")
                $("#assignSpecificMonthModule").hide();
            if ($("input[name='granularity']:checked").val() != "specificDay")
                $("#assignSpecificDayModule").hide();
        });
        $("input[name='renderRadio']").change(function () {
            $("#resultDiv").slideUp("fast");
            $("#analysisDiv").slideUp("fast");
            $("#dataDiv").hide();
        });
        $("input[name='pageRadio']").change(function () {
            $("#resultDiv").slideUp("fast");
            $("#analysisDiv").slideUp("fast");
            $("#dataDiv").hide();
        });
        $("#statisticMode").change(function () {
            $("#resultDiv").slideUp("fast");
            $("#dataDiv").hide();
            $("#analysisDiv").hide();
        });

        $("#exportExcel").click(function () {
            var attachName = "";
            if ($("#selectedSchoolArea option:selected").length > 0) {
                attachName += ($("#selectedSchool option:selected").html() + ">");
            }
            if ($("#selectedBuilding option:selected").length > 0) {
                attachName += ($("#selectedSchoolArea option:selected").html() + ">");
            }
            if ($("#newRoomID option:selected").length > 0) {
                attachName += ($("#selectedBuilding option:selected").html() + ">");
            }
            var parameters = "?objType=" + $("#objType").val()
                             + "&objIDs=" + $("#objIDs").val()
                             + "&startTime=" + $("#startTime").val()
                             + "&endTime=" + $("#endTime").val()
                             + "&granularity=" + $("input[name='granularity']:checked").val()
                             + "&powerType=" + $("#powerType").val()
                             + "&attachName=" + attachName
                             + "&assignDay=" + $("#assignSpecificDay").val()
                             + "&assignMonth=" + $("#assignSpecificMonth").val()
                             + "&statisticMode=" + $("input[name='statisticEnergy']:checked").val();
            window.open('@Url.Action("GetHGElecExcel","Analysis")' + parameters, "_self");
        });

        $("#myForm").validate({
            rules: {
                queryObj: {
                    required: true
                },
                startTime: {
                    required: true
                },
                endTime: {
                    required: true
                },
                powerType: {
                    required: true
                }
            },
            messages: {
                queryObj: {
                    required: "查询对象不能为空"
                },
                startTime: {
                    required: "开始时间不能为空"
                },
                endTime: {
                    required: "结束时间不能为空"
                },
                powerTypeName: {
                    required: "能耗类型不能为空"
                }
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parent().next());
            },
            submitHandler: function (form) {
                if (Date.parse($("#startTime").val().replace(/-/g, "/")) > Date.parse($("#endTime").val().replace(/-/g, "/"))) {
                    $("#endTime").parent().next().html('<label class="error" for="startTime" generated="true">结束时间不能大于开始时间</label>');
                    return false;
                }
                if (!$("#resultDiv").is(":visible")) {
                    var ifpage = $("input[name='pageRadio']:checked").val();
                    if (ifpage == "posPage") {
                        global_totalPages = -1;
                        global_sum = -1;
                        pageClick(1);
                        analyze();
                    }
                    else {
                        query();
                        analyze();
                    }
                }
                return false;
            },
            onkeyup: false,
            onfocusout: false,
            onclick: false
        });

        //        $("#powerTypeName").click(function () {
        //            $("#powerTreeDiv").dialog({
        //                modal: true,
        //                width: 500,
        //                resizable: false,
        //                buttons: {
        //                    '选择': function () {
        //                        var tempName = "";
        //                        var tempIDs = "";
        //                        var selectedIndex = $("#powerTreeDiv").tabs('option', 'selected');
        //                        var checkedObjs = $("#powerTreeDiv > .em-tree:eq(" + selectedIndex + ") div.checked");
        //                        if(checkedObjs.length>0){
        //                            checkedObjs.each(function (index, item) {
        //                                if(tempName==""){
        //                                    tempName = $(item).next().html();
        //                                }
        //                                if(tempIDs==""){
        //                                    tempIDs = $(item).next().next().val();
        //                                }else{
        //                                    tempIDs += ("_" + $(item).next().next().val());
        //                                }
        //                            });
        //                            $("#powerType").val(tempIDs);
        //                            if(checkedObjs.length > 1){
        //                                $("#powerTypeName").val(tempName+" ... （"+checkedObjs.length+"）");
        //                            }else{
        //                                $("#powerTypeName").val(tempName);
        //                            }
        //                        }else{
        //                            $("#treeDialogErrorTip").slideDown("fast");
        //                            return;
        //                        }
        //                        $("#resultDiv").slideUp("fast");
        //                        $("#analysisDiv").slideUp("fast");
        //                        $("#dataDiv").hide();
        //                        $(this).dialog("close");
        //                    }
        //                }
        //            });
        //        });

        $("#queryObj").click(function () {
            $("#dialogErrorTip").hide();
            $("#roomSelectDiv").dialog({
                modal: true,
                width: 850,
                resizable: false,
                buttons: {
                    '选择': function () {
                        var selectedObjs1 = $("#newRoomID option:selected");
                        if (selectedObjs1.length == 0) {
                            selectedObjs1 = $("#selectedBuilding option:selected");
                            if (selectedObjs1.length == 0) {
                                selectedObjs1 = $("#selectedSchoolArea option:selected");
                                if (selectedObjs1.length == 0) {
                                    selectedObjs1 = $("#selectedSchool option:selected");
                                    if (selectedObjs1.length > 0) {
                                        $("#statisticModeLi").addClass("hidden");
                                    }
                                } else {
                                    $("#statisticModeLi").addClass("hidden");
                                }
                            } else {
                                $("#statisticModeLi").removeClass("hidden");
                            }
                        } else {
                            $("#statisticModeLi").addClass("hidden");
                        }
                        var selectedObjs = $("#addedBD option");
                        if (selectedObjs.length == 0) {
                            $("#dialogErrorTip1").slideDown("fast");
                        } else {
                            var objIDStr = "" + selectedObjs[0].value;
                            var objNameStr = "(" + selectedObjs.length + ")";
                            for (var i = 1; i < selectedObjs.length; i++) {
                                objIDStr = objIDStr + "_" + selectedObjs[i].value;
                            }
                            $("#objIDs").val(objIDStr);
                            $("#queryObj").val(objNameStr);
                            $("#resultDiv").slideUp("fast");
                            $("#analysisDiv").slideUp("fast");
                            $("#dataDiv").hide();
                            $(this).dialog("close");
                        }

                        var selectedObjID = $("#objIDs").val();
                        var selectedObjType = +$("#objType").val();
                        if (selectedObjID != null && selectedObjType != 0) {
                            $.getJSON('@Url.Action("PowerTypesOfObj","Information")', {
                                objID: selectedObjID,
                                objType: selectedObjType
                            }, function (jsonData) {
                                if (jsonData == null) {
                                    return;
                                }
                                if (jsonData.length == 0) {
                                    var optionStr = "<option value=\"0\" > 无任何能耗类型 </option>";
                                    $("#powerType").html(optionStr);
                                    //                                    $("#powerType").val("0");
                                    //                                    $("#powerTypeName").val("无");
                                    //                                    $("#powerTreeDiv ul.em-tree ul li").each(function (index, item) {
                                    //                                        $(item).hide();
                                    //                                    });
                                }
                                else if ($("#objType").val() == 5 && jsonData.length == 1) {
                                    var powerID = new String(jsonData[0].PowerTypeID);
                                    var powerName = jsonData[0].PowerTypeName;
                                    var optionStr = "<option value=\"" + powerID + "\" > ---" + powerName + " </option>"
                                    $("#powerType").html(optionStr);
                                }
                                else if ($("#objType").val() == 5) {
                                    optionStr = "<option value=\"001\" > 按所选测点能耗类型 </option>";
                                    $("#powerType").html(optionStr);
                                }
                                else {
                                    var optionStr = "";
                                    var elecOptionStr = "<option value=\"001\" > 总用电 </option>";
                                    var waterOptionStr = "<option value=\"002\" > 总用水 </option>";
                                    var gasOptionStr = "<option value=\"003\" > 总用气 </option>";
                                    for (i = 0; i < jsonData.length; i++) {
                                        var powerID = new String(jsonData[i].PowerTypeID);
                                        var powerIDPrefix = powerID.substr(0, 3);
                                        var powerName = jsonData[i].PowerTypeName;
                                        if (powerIDPrefix == "001") {
                                            elecOptionStr = elecOptionStr + "<option value=\"" + powerID + "\" > ---" + powerName + " </option>";
                                        }
                                        else if (powerIDPrefix == "002") {
                                            waterOptionStr = waterOptionStr + "<option value=\"" + powerID + "\" > --- " + powerName + " </option>";
                                        } else if (powerIDPrefix == "003") {
                                            gasOptionStr = gasOptionStr + "<option value=\"" + powerID + "\" > --- " + powerName + " </option>";
                                        }
                                    }
                                    optionStr = elecOptionStr + waterOptionStr + gasOptionStr;
                                    $("#powerType").html(optionStr);
                                }
                            });
                        }
                        //                        var selectedObjs = $("#newRoomID option:selected");
                        //                        if (selectedObjs.length == 0) {
                        //                            selectedObjs = $("#selectedBuilding option:selected");
                        //                            if (selectedObjs.length == 0) {
                        //                                selectedObjs = $("#selectedSchoolArea option:selected");
                        //                                if (selectedObjs.length == 0) {
                        //                                    selectedObjs = $("#selectedSchool option:selected");
                        //                                    if (selectedObjs.length > 0) {
                        //                                        $("#objType").val(1);
                        //                                    }
                        //                                } else {
                        //                                    $("#objType").val(2);
                        //                                }
                        //                            } else {
                        //                                $("#objType").val(3);
                        //                            }
                        //                        } else {
                        //                            $("#objType").val(4);
                        //                        }
                        //                        if (selectedObjs.length > 5){
                        //                            $("#dialogErrorTip").html("查询不能超过5个");
                        //                            $("#dialogErrorTip").slideDown("fast");
                        //                        } else if (selectedObjs.length > 1) {
                        //                            var objIDsStr = "";
                        //                            $("#queryObj").val(selectedObjs[0].innerHTML + " ...（" + selectedObjs.length + "）");
                        //                            selectedObjs.each(function (index, obj) {
                        //                                if (index > 0) {
                        //                                    objIDsStr += ("_" + obj.value);
                        //                                } else {
                        //                                    objIDsStr = obj.value;
                        //                                }
                        //                            });
                        //                            $("#objIDs").val(objIDsStr);
                        //                            $("#resultDiv").slideUp("fast");
                        //                            $("#analysisDiv").slideUp("fast");
                        //                            $("#dataDiv").hide();
                        //                            $(this).dialog("close");
                        //                        } else if (selectedObjs.length == 1) {
                        //                            $("#queryObj").val(selectedObjs.text());
                        //                            $("#objIDs").val(selectedObjs.val());
                        //                            $("#resultDiv").slideUp("fast");
                        //                            $("#analysisDiv").slideUp("fast");
                        //                            $("#dataDiv").hide();
                        //                            $(this).dialog("close");
                        //                        } else {
                        //                            $("#dialogErrorTip").html("查询对象不能为空");
                        //                            $("#dialogErrorTip").slideDown("fast");
                        //                        }

                        //根据所选查询对象，确定能耗类型选项
                        //                        var selectedObjID = $("#objIDs").val();
                        //                        var selectedObjType = +$("#objType").val();
                        //                        if (selectedObjID != null && selectedObjID != 0) {
                        //                            $.getJSON('@Url.Action("PowerTypesOfObj","Information")', {
                        //                                objID: selectedObjID,
                        //                                objType: selectedObjType
                        //                            }, function (jsonData) {
                        //                                if (jsonData == null) {
                        //                                    return;
                        //                                }
                        //                                if (jsonData.length == 0) {
                        //                                    $("#powerType").val("0");
                        //                                }
                        //                                if (jsonData.length == 1) {
                        //                                    $("#powerType").val(jsonData[0].PowerTypeID);
                        //                                }
                        //                                if (jsonData.length != 0) {
                        //                                    $("#powerTreeDiv ul.em-tree ul li").each(function (index, item) {
                        //                                        var tempID = $(item).children("input").val();
                        //                                        var ifExistInJsonData = false;
                        //                                        for (i = 0; i < jsonData.length; i++) {
                        //                                            if (jsonData[i].PowerTypeID == tempID) {
                        //                                                ifExistInJsonData = true;
                        //                                                break;
                        //                                            }
                        //                                        }
                        //                                        if (!ifExistInJsonData) {
                        //                                            $(item).hide();
                        //                                        } else {
                        //                                            $(item).show();
                        //                                        }
                        //                                    });
                        //                                    $("#powerTreeDiv ul.em-tree").first().find("div.checkbox").addClass("checked");
                        //                                }
                        //                                else {
                        //                                    $("#powerTreeDiv ul.em-tree ul li").each(function (index, item) {
                        //                                        $(item).hide();
                        //                                    });
                        //                                }
                        //                            });
                        //                        }
                    }
                }
            });
        });

        var statisChart = new Visifire("../../../../Content/sl/SL.Visifire.Charts.xap", "StatisticsChart", 600, 400, "White");

        var global_totalPages = -1;
        var global_queryEndTime = null;
        var global_sum = -1;
        function pageClick(pageIndex) {
            var loadingImg = $('<img src="@Url.Content("~/Content/images/loading_mid.gif")" title="Loading" width="100" />');
            $("#dataDiv").hide();
            $("#pager").show();
            $("#noDataDiv").html(loadingImg).show();
            $("#resultDiv").slideDown("fast");
            var renderType = $("input[name='renderRadio']:checked").val();
            if (renderType == "List") {
                $.getJSON('@Url.Action("GetHGElecListAjax", "Analysis")', {
                    currentPage: pageIndex,
                    totalPages: global_totalPages,
                    objType: $("#objType").val(),
                    objIDs: $("#objIDs").val(),
                    powerType: $("#powerType").val(),
                    startTime: $("#startTime").val(),
                    endTime: $("#endTime").val(),
                    granularity: $("input[name='granularity']:checked").val(),
                    assignMonth: $("#assignSpecificMonth").val(),
                    assignDay: $("#assignSpecificDay").val(),
                    sum: global_sum,
                    statisticMode: $("input[name='statisticEnergy']:checked").val()
                }, function (jsonData) {
                    if (jsonData == null) {
                        $("#dataDiv").hide();
                        $("#noDataDiv").html('没有权限或登录超时，尝试重新 @Html.ActionLink("登录", "Index2", "Homes", new { area = "" }, null)').show();
                        return;
                    }
                    if (global_totalPages == -1) {
                        global_totalPages = jsonData.totalPages;
                        global_sum = jsonData.totalSum;
                    }
                    if (global_totalPages < 1) {
                        $("#noDataDiv").html("当前查询范围没有数据").show();
                        $("#dataDiv").hide();
                        return;
                    }
                    if ($("input[name='statisticEnergy']:checked").val() == "unitEnergy") {
                        if (jsonData.buidingNameList != "") {
                            $("#noDataDiv").html(jsonData.buidingNameList + '没有录入面积，请在' + '@Html.ActionLink("楼宇管理", "QueryBuilding", "Information", null, null)中录入后再进行单位面积能耗查询').show();
                            $("#dataDiv").hide();
                            $("#analysisDiv").hide();
                            return;
                        }
                    }
                    $("#noDataDiv").hide();
                    $("#pager").pager({ pagenumber: pageIndex, pagecount: global_totalPages, buttonClickCallback: pageClick });
                    var attachName = "";
                    if ($("#selectedSchoolArea option:selected").length > 0) {
                        attachName += ($("#selectedSchool option:selected").html() + ">");
                    }
                    if ($("#selectedBuilding option:selected").length > 0) {
                        attachName += ($("#selectedSchoolArea option:selected").html() + ">");
                    }
                    if ($("#newRoomID option:selected").length > 0) {
                        attachName += ($("#selectedBuilding option:selected").html() + ">");
                    }
                    $.map(jsonData.data, function (item) {
                        return item.Name = attachName + item.Name;
                    });
                    $("#dataDivUnit").html(jsonData.yAxisTitle);
                    $("#resultDataDiv").html($("#dataTemplate").tmpl(jsonData.data, {
                        alternate: function (item) {
                            return ($.inArray(item, jsonData.data) % 2) ? "alt" : "";
                        }
                    }));
                    $("#dataTable").show();
                    $("#chartDiv").hide();
                    $("#dataDiv").show();

                });
            } else {
                $.getJSON('@Url.Action("GetHGElecChartAjax", "Analysis")', {
                    currentPage: pageIndex,
                    totalPages: global_totalPages,
                    objType: $("#objType").val(),
                    objIDs: $("#objIDs").val(),
                    powerType: $("#powerType").val(),
                    startTime: $("#startTime").val(),
                    endTime: $("#endTime").val(),
                    granularity: $("input[name='granularity']:checked").val(),
                    assignMonth: $("#assignSpecificMonth").val(),
                    assignDay: $("#assignSpecificDay").val(),
                    statisticMode: $("input[name='statisticEnergy']:checked").val()
                }, function (jsonData) {
                    if (jsonData == null) {
                        $("#dataDiv").hide();
                        $("#noDataDiv").html('没有权限或登录超时，尝试重新 @Html.ActionLink("登录", "Index2", "Homes", new { area = "" }, null)').show();
                        return;
                    }
                    if (global_totalPages == -1) {
                        global_totalPages = jsonData.totalPages;
                    }
                    if (global_totalPages < 1) {
                        $("#noDataDiv").html("当前查询范围没有数据").show();
                        $("#dataDiv").hide();
                        return;
                    }
                    if ($("input[name='statisticEnergy']:checked").val() == "unitEnergy") {
                        if (jsonData.buidingNameList != "") {
                            $("#noDataDiv").html(jsonData.buidingNameList + '没有录入面积，请在' + '@Html.ActionLink("楼宇管理", "QueryBuilding", "Information", null, null)中录入后再进行单位面积能耗查询').show();
                            $("#dataDiv").hide();
                            $("#analysisDiv").hide();
                            return;
                        }
                    }
                    if ($("input[name='statisticEnergy']:checked").val() == "unitEnergy") {
                        if (jsonData.buidingNameList != "") {
                            $("#noDataDiv").html(jsonData.buidingNameList + '没有录入面积，请在' + '@Html.ActionLink("楼宇管理", "QueryBuilding", "Information", null, null)中录入后再进行单位面积能耗查询').show();
                            $("#dataDiv").hide();
                            $("#analysisDiv").hide();
                            return;
                        }
                    }
                    $("#noDataDiv").hide();
                    $("#pager").pager({ pagenumber: pageIndex, pagecount: global_totalPages, buttonClickCallback: pageClick });
                    $("#chartDiv").html("");
                    var extendObj = {
                        title: "多个对象按时间粒度对比分析",
                        xAxisTitle: "日期",
                        renderType: renderType
                    };
                    var chartData = $.extend(jsonData, extendObj);
                    var chartXml = util_templateToChartXml("chartTemplate", chartData);
                    statisChart.setDataXml(chartXml);
                    $("#dataTable").hide();
                    $("#chartDiv").show();
                    $("#dataDiv").show();
                    statisChart.render("chartDiv");

                });
            }

        }

        function query() {
            var loadingImg = $('<img src="@Url.Content("~/Content/images/loading_mid.gif")" title="Loading" width="100" />')
            $("#dataDiv").hide();
            $("#pager").hide();
            $("#noDataDiv").html(loadingImg).show();
            $("#resultDiv").slideDown("fast");
            var renderType = $("input[name='renderRadio']:checked").val();
            if (renderType == "List") {
                $.getJSON('@Url.Action("GetHGElecListAjaxNoPage", "Analysis")', {
                    objType: $("#objType").val(),
                    objIDs: $("#objIDs").val(),
                    powerType: $("#powerType").val(),
                    startTime: $("#startTime").val(),
                    endTime: $("#endTime").val(),
                    granularity: $("input[name='granularity']:checked").val(),
                    assignMonth: $("#assignSpecificMonth").val(),
                    assignDay: $("#assignSpecificDay").val(),
                    sum: global_sum,
                    statisticMode: $("input[name='statisticEnergy']:checked").val()
                }, function (jsonData) {
                    if (jsonData == null) {
                        $("#dataDiv").hide();
                        $("#noDataDiv").html('没有权限或登录超时，尝试重新 @Html.ActionLink("登录", "Index2", "Homes", new { area = "" }, null)').show();
                        return;
                    }
                    if (jsonData.count == 0) {
                        $("#noDataDiv").html("当前查询范围没有数据").show();
                        $("#dataDiv").hide();
                        return;
                    }
                    if ($("input[name='statisticEnergy']:checked").val() == "unitEnergy") {
                        if (jsonData.buidingNameList != "") {
                            $("#noDataDiv").html(jsonData.buidingNameList + '没有录入面积，请在' + '@Html.ActionLink("楼宇管理", "QueryBuilding", "Information", null, null)中录入后再进行单位面积能耗查询').show();
                            $("#dataDiv").hide();
                            $("#analysisDiv").hide();
                            return;
                        }
                    }
                    $("#noDataDiv").hide();
                    var attachName = "";
                    if ($("#selectedSchoolArea option:selected").length > 0) {
                        attachName += ($("#selectedSchool option:selected").html() + ">");
                    }
                    if ($("#selectedBuilding option:selected").length > 0) {
                        attachName += ($("#selectedSchoolArea option:selected").html() + ">");
                    }
                    if ($("#newRoomID option:selected").length > 0) {
                        attachName += ($("#selectedBuilding option:selected").html() + ">");
                    }
                    $.map(jsonData.data, function (item) {
                        return item.Name = attachName + item.Name;
                    });
                    $("#dataDivUnit").html(jsonData.yAxisTitle);
                    $("#resultDataDiv").html($("#dataTemplate").tmpl(jsonData.data, {
                        alternate: function (item) {
                            return ($.inArray(item, jsonData.data) % 2) ? "alt" : "";
                        }
                    }));
                    $("#dataTable").show();
                    $("#chartDiv").hide();
                    $("#dataDiv").show();

                });
            } else {
                $.getJSON('@Url.Action("GetHGElecChartAjaxNoPage", "Analysis")', {
                    objType: $("#objType").val(),
                    objIDs: $("#objIDs").val(),
                    powerType: $("#powerType").val(),
                    startTime: $("#startTime").val(),
                    endTime: $("#endTime").val(),
                    granularity: $("input[name='granularity']:checked").val(),
                    assignMonth: $("#assignSpecificMonth").val(),
                    assignDay: $("#assignSpecificDay").val(),
                    statisticMode: $("input[name='statisticEnergy']:checked").val()
                }, function (jsonData) {
                    if (jsonData == null) {
                        $("#dataDiv").hide();
                        $("#noDataDiv").html('没有权限或登录超时，尝试重新 @Html.ActionLink("登录", "Index2", "Homes", new { area = "" }, null)').show();
                        return;
                    }
                    if (jsonData.count == 0) {
                        $("#noDataDiv").html("当前查询范围没有数据").show();
                        $("#dataDiv").hide();
                        return;
                    }
                    if ($("input[name='statisticEnergy']:checked").val() == "unitEnergy") {
                        if (jsonData.buidingNameList != "") {
                            $("#noDataDiv").html(jsonData.buidingNameList + '没有录入面积，请在' + '@Html.ActionLink("楼宇管理", "QueryBuilding", "Information", null, null)中录入后再进行单位面积能耗查询').show();
                            $("#dataDiv").hide();
                            $("#analysisDiv").hide();
                            return;
                        }
                    }
                    $("#noDataDiv").hide();
                    $("#chartDiv").html("");
                    var extendObj = {
                        title: "多个对象按时间粒度对比分析",
                        xAxisTitle: "日期",
                        renderType: renderType
                    };
                    var chartData = $.extend(jsonData, extendObj);
                    var chartXml = util_templateToChartXml("chartTemplate", chartData);
                    statisChart.setDataXml(chartXml);
                    $("#dataTable").hide();
                    $("#chartDiv").show();
                    $("#dataDiv").show();
                    statisChart.render("chartDiv");
                });
            }

        }

        function analyze() {
            var loadingImg = $('<img src="@Url.Content("~/Content/images/loading_mid.gif")" title="Loading" width="100" />')
            $("#analysisDiv > div").html(loadingImg);
            $("#analysisDiv").show("slide", "fast");
            $.getJSON('@Url.Action("GetHGElecAnalysisAjax", "Analysis")', {
                objType: $("#objType").val(),
                objIDs: $("#objIDs").val(),
                powerType: $("#powerType").val(),
                startTime: $("#startTime").val(),
                endTime: $("#endTime").val(),
                granularity: $("input[name='granularity']:checked").val(),
                assignMonth: $("#assignSpecificMonth").val(),
                assignDay: $("#assignSpecificDay").val(),
                statisticMode: $("input[name='statisticEnergy']:checked").val()
            }, function (jsonData) {
                if (jsonData == null) {
                    $("#analysisDiv > div").html('没有权限或登录超时，尝试重新 @Html.ActionLink("登录", "Index2", "Homes", new { area = "" }, null)').show();
                    return;
                }
                if (jsonData.totalRows == 0) {
                    $("#analysisDiv > div").html("当前查询范围没有数据");
                    return;
                }
                if ($("input[name='statisticEnergy']:checked").val() == "unitEnergy") {
                    if (jsonData.buidingNameList != "") {
                        $("#analysisDiv").hide();
                        return;
                    }
                } 
                var extendObj = {
                    queryObj: $("#queryObj").val(),
                    startTime: $("#startTime").val(),
                    endTime: $("#endTime").val(),
                    powerTypeName: ""
                };
                var analysisData = $.extend(jsonData, extendObj);
                $("#analysisDiv > div").html($("#analysisDataTemplate").tmpl(analysisData));
            });
        }

        $("#powerType").val(globalPowerFn_getElecStr());
    });
</script>
<script id="dataTemplate" type="text/x-jQuery-tmpl">
	<tr class="${$item.alternate($data)}"><td>${TimeBlock}</td><td>${Name}</td><td>${StatisSVal}</td><td>${SPercentage}</td></tr>
</script>
<script id="analysisDataTemplate" type="text/x-jQuery-tmpl">
    <p>当前查询范围包含数据【${totalRows}】条</p>
    <p>查询到的查询对象包含{{each queryNameList}}【${$value}】 {{/each}} </p>
    <p>总用能值为【${totalSum}】</p>
    <p>平均用能值为【${average}】，有【${greaterEqualAverageCount}】条数据大于等于平均值，【${smallerAverageCount}】条小于平均值</p>
    <p>最大用能时间为【${maxObj.TimeBlock}】，查询对象为【${maxObj.Name}】，用能数为【${maxObj.StatisSVal}】，占总用能比例为【${maxObj.SPercentage}】</p>
    <p>最小用能时间为【${minObj.TimeBlock}】，查询对象为【${minObj.Name}】，用能数为【${minObj.StatisSVal}】，占总用能比例为【${minObj.SPercentage}】</p>
    <p>其中:</p>
    <ul>
    {{each queryList}}<li>查询对象为【${queryName}】的用能为【${querySum}】，占所有总用能为【${queryPercentage}】<li/>{{/each}}
    </ul>
</script>
<script id="chartTemplate" type="text/x-jQuery-tmpl">
	<vc:Chart xmlns:vc="clr-namespace:Visifire.Charts;assembly=SLVisifire.Charts" Bevel="True" AnimatedUpdate="True" View3D="False" IndicatorEnabled="True" 
    ZoomingEnabled="True" AnimationEnabled="true" Width="600" Height="400" Theme="Theme1" 
    BorderThickness="1" BorderBrush="Gray" ToolBarEnabled="True" ShadowEnabled="True">
        <vc:Chart.Titles>
        <vc:Title Text="${title}" Padding="0,0,0,5"/>
        </vc:Chart.Titles>

        <vc:Chart.AxesX>
            <vc:Axis Title="${xAxisTitle}"/>
        </vc:Chart.AxesX>
        <vc:Chart.AxesY>
            <vc:Axis Title="${yAxisTitle}"/>
        </vc:Chart.AxesY>

        <vc:Chart.Series>
        {{each data}}
        <vc:DataSeries LegendText="${queryName}" RenderAs="${renderType}">
            <vc:DataSeries.DataPoints>
                {{each dataList}}
                    <vc:DataPoint AxisXLabel="${TimeBlock}" XValue="${util_index(TimeBlock, indexValList)}" YValue="${StatisSVal}"/>
                {{/each}}
            </vc:DataSeries.DataPoints>
        </vc:DataSeries>
        {{/each}}
        </vc:Chart.Series>
    </vc:Chart>
</script>
@Html.Partial("_MultiObjSelect")
@Html.Partial("_PowerSelect")
