@{
    ViewBag.Title = "历史用电";
}
@section head{
    <link href="../../../../Content/css/jquery-ui/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/css/jquery-ui/datepicker/jquery-ui-1.8.11.datepicker.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/css/Pager.css" rel="stylesheet" type="text/css" />
    <script src="../../../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../../../Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../../../Scripts/jquery.ui.datepicker-zh-CN.js" type="text/javascript"></script>
    <script src="../../../../Scripts/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="../../../../Scripts/jquery.pager.js" type="text/javascript"></script>
    <style type="text/css">
        .warpDiv {}
        .warpDiv div { margin: 0px;}
        .warpDiv div div{ margin-top: 5px;}
        .warpDiv div.width { margin: 10px; width:350px;}
        .warpDiv .divMargin {margin-left: 300px;}
        fieldset{padding-left: 20px;}
        #detailResultDiv table{width: 500px; margin-top: 20px;}
        #extResDiv {margin-top:10px;}
    </style>
}
<div class="contentcontainer">
<div class="headings altheading"><h2>用电历史</h2></div>
    <div class="contentbox">
        <form id="myForm" action="#" method="post">
        <div class="warpDiv">
        <div>
            <div class="left width">
                <div><span class="red">* </span>起始日期： </div>
                <div><input id="startTime" name="startTime" type="text" class="inputbox" readonly="readonly" /></div>
                <div></div>
            </div>
            <div class="left width">
                <div><span class="red">* </span>结束日期： </div>
                <div><input id="endTime" name="endTime" type="text" class="inputbox" readonly="readonly" /></div>
                <div></div>
            </div>
            <div class="clear"></div>
        </div>
        <div>
            <div class="left width">
                <div>房间信息：</div>
                <div>
                    <select id="roomID" name="roomID">
                        <option value='-1'>--请选择房间--</option>
                        @foreach (var room in Model){
                            <option value="@room.RIID" selected="selected">@room.urFullName</option>
                        }
                    </select>
                </div>
                <div></div>
            </div>
            <div class="left width" >
                <div>详细粒度： </div>
                <div id="radioSet">
                    <input type="radio" id="monthGranularity" name="granularity" value="month" checked="checked" /><label for="monthGranularity"> 月 </label>
                    <input type="radio" id="dayGranularity" name="granularity" value="day" /><label for="dayGranularity"> 日 </label>
                </div>
                <div></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divMargin"><input id="queryButton" name="" type="submit" value="  查  询  " class="btn"/></div>
        </div>
        </form>
        <div id="resultDiv" class="hidden">
            <fieldset>
                <legend>查询结果</legend><div><span id="resSpan"></span><a id="queryDetail" class="hidden" href="#">点击查看详细</a></div>
            </fieldset>
        </div>
        <br />
        <div id="detailResultDiv" class="hidden">
        <fieldset><legend>详细结果</legend>
            <div id="subDetailResultDiv1" class="hidden">
            <div>【注意：测试期间因网络或机器故障等原因部分数据可能统计不完整】</div>
            <table>
                <thead>
                    <tr>
                        <th>时间</th>
                        <th>用电量（度）</th>
                    </tr>
                </thead>
                <tbody id="detailResultArea">
                </tbody>
            </table>
            <div id="pager">
            </div>
            </div>
            <div id="subDetailResultDiv2" class="hidden">当前查询时间范围没有数据 【注意：测试期间因网络或机器故障等原因部分数据可能统计不完整】</div>
            </fieldset>
        </div>
        <input id="totalPage" type="hidden" value="-1" />
</div></div>

<script type="text/javascript">
    $(function () {
        $("#startTime").datepicker({ changeMonth: true, changeYear: true });
        $("#endTime").datepicker({ changeMonth: true, changeYear: true });
        $("#radioSet").buttonset();
        $("input[name='granularity']").change(function () {
            $("#detailResultDiv").slideUp("fast");
            $("#resultDiv").slideUp("fast");
        });

        $("#startTime").change(function () {
            $("#detailResultDiv").slideUp("fast");
            $("#resultDiv").slideUp("fast");
        });
        $("#endTime").change(function () {
            $("#detailResultDiv").slideUp("fast");
            $("#resultDiv").slideUp("fast");
        });
        $("#roomID").change(function () {
            $("#detailResultDiv").slideUp("fast");
            $("#resultDiv").slideUp("fast");
        });

        $("#myForm").validate({
            rules: {
                startTime: {
                    required: true
                },
                endTime: {
                    required: true
                },
                roomID: {
                    min: 0
                }
            },
            messages: {
                startTime: {
                    required: "开始时间不能为空"
                },
                endTime: {
                    required: "结束时间不能为空"
                },
                roomID: {
                    min: "没有指定房间"
                }
            },
            errorPlacement: function (error, element) {
                error.appendTo(element.parent().next());
            },
            submitHandler: function (form) {
                if (Date.parse($("#startTime").val().replace(/-/g, "/")) > Date.parse($("#endTime").val().replace(/-/g, "/"))) {
                    $("#endTime").parent().next().html('<label class="error" for="startTime" generated="true">结束时间不能大于开始时间</label>');
                    return false;
                }
                $.getJSON('@Url.Action("GetRoomEnergyAjax", "Energy")', {
                    roomID: $("#roomID").val(),
                    startTime: $("#startTime").val(),
                    endTime: $("#endTime").val(),
                    granularity: $("input[name='granularity']:checked").val()
                }, function (jsonData) {
                    if (jsonData.totalRes == 0) {
                        $("#queryDetail").hide();
                        $("#resSpan").text("没有查询到数据，请重新查询！");
                        $("#resultDiv").slideDown("fast");
                        return;
                    }
                    $("#totalPage").val(jsonData.totalPage);
                    var renderEndTime = jsonData.realEndDate
                    if (Date.parse(renderEndTime) > Date.parse($("#endTime").val().replace(/-/g, "/"))) {
                        renderEndTime = $("#endTime").val();
                    }
                    var data = {
                        roomName: $.trim($("#roomID").children(":selected").text()),
                        endTime: renderEndTime,
                        totalRes: jsonData.totalRes
                    };
                    $("#resSpan").html($("#totalTemplate").tmpl(data));
                    $("#queryDetail").show();
                    $("#resultDiv").slideDown("fast");
                });
                return false;
            },
            onkeyup: false,
            onfocusout: false,
            onclick: false
        });

        $("#queryDetail").click(function () {
            if (($("#detailResultDiv").is(":hidden")) && (+$("#totalPage").val() != -1)) {
                pageClick(1);
                return false;
            }
        });
    });
    function pageClick(pageIndex) {
        var loadingImg = $('<img src="@Url.Content("~/Content/images/loading_mid.gif")" title="Loading" width="100" />')
        $("#subDetailResultDiv1").hide();
        $("#subDetailResultDiv2").html(loadingImg).show();
        $("#detailResultDiv").slideDown("fast");
        $.getJSON('@Url.Action("GetDetailRoomEnergyAjax", "Energy")', {
            currentPage: pageIndex,
            roomID: $("#roomID").val(),
            startTime: $("#startTime").val(),
            endTime: $("#endTime").val(),
            granularity: $("input[name='granularity']:checked").val()
        }, function (jsonData) {
            if (+$("#totalPage").val() < 1) {
                $("#subDetailResultDiv1").hide();
                $("#subDetailResultDiv2").html("当前查询时间范围没有数据 【注意：测试期间因网络或机器故障等原因部分数据可能统计不完整】");
                $("#subDetailResultDiv2").show();
                $("#detailResultDiv").slideDown("fast");
                return;
            }
            $("#subDetailResultDiv2").hide();
            $("#detailResultArea").html("");
            $("#pager").pager({ pagenumber: pageIndex, pagecount: $("#totalPage").val(), buttonClickCallback: pageClick });
            $("#dataTemplate").tmpl(jsonData, {
                alternate: function (item) {
                    return ($.inArray(item, jsonData) % 2) ? "alt" : "";
                }
            }).appendTo("#detailResultArea");
            $("#subDetailResultDiv1").show();
        });
    }
</script>
<script id="totalTemplate" type="text/x-jQuery-tmpl">
    您所在房间 <span class="green">${roomName}</span> 从 ${startTime} 到 ${endTime} 一共使用了<span class="highlighted"> ${totalRes}度 </span>电，
</script>
<script id="dataTemplate" type="text/x-jQuery-tmpl">
    <tr class="${$item.alternate($data)}"><td>${TimeBlock}</td><td>${StatisSVal}</td></tr>
</script>