@{
    ViewBag.Title = "测点管理";
}
@section head{
    <link href="../../../../Content/css/tab.css" rel="stylesheet" type="text/css" />
}
<div class="contentcontainer">
<div class="headings altheading"><h2>测点管理</h2></div>
    <div class="contentbox">
    <div id="tabs">
        <ul class="tab-ul">
		    <li><a href="@Url.Action("QueryPoint", "Information")">查询测点</a></li>
            <li><a href="@Url.Action("AddRealPoint", "Information")">增加真实测点</a></li>
		    <li><a href="@Url.Action("AddPoint", "Information")">增加虚拟测点</a></li>
            <li class="current"><a>导入历史数据</a></li>
            <li><a href="@Url.Action("UpdateList", "Information")">数据更新列表</a></li>
	    </ul>
	    <div class="tab-div padding50px">
        @if (ViewBag.importedPointCount > 0)
        {
            <div class="status success">
                <p><img src="@Url.Content("~/Content/images/img/icons/icon_success.png") " alt="Success" /><span>导入历史数据成功!</span>
                <a href="@Url.Action("ImportPoint", "Information")">继续导入</a> 或 <a href="@Url.Action("QueryPoint", "Information")">重新查询</a></p>
            </div>
        }
        else
        {
            <div class="status error">
                <p><img src="@Url.Content("~/Content/images/img/icons/icon_error.png") " alt="Error" /><span>导入历史数据失败! 请检查</span>
                <ul>
                <li>上传文件是否为支持的文件类型</li>
                <li>上传文件中的数据格式是否正确</li>
                </ul>
                </p>
            </div>
        }
    </div></div>
</div></div>

