@{
    ViewBag.Title = "楼宇管理";
}
@section head{
    <link href="../../../../Content/css/jquery-ui/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/css/jquery-ui/datepicker/jquery-ui-1.8.11.datepicker.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/css/tab.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/css/form.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/css/Pager.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/css/RoomSelect.css" rel="stylesheet" type="text/css" />

    <script src="../../../../Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../../../Scripts/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="../../../../Scripts/jquery.pager.js" type="text/javascript"></script>
}
<div class="contentcontainer">
<div class="headings altheading"><h2>楼宇管理</h2></div>
<div class="contentbox">
    <div id="tabs">
        <ul class="tab-ul">
		    <li class="current"><a>查询楼宇</a></li>
		    <li><a href="@Url.Action("AddBuilding", "Information")">增加楼宇</a></li>
            <li><a href="@Url.Action("BuildingEnergyConsum", "Information")">楼宇额定能耗管理</a></li>
	    </ul>
	    <div class="tab-div">
        <form id="myForm" action="#" method="post" >
        <ul class="em-form-ul">
            <li>
                <ul>
                    <li>楼宇名称：</li>
                    <li><input id="buildingName" name="buildingName" type="text" class="inputbox"/></li>
                    <li></li>
                </ul>
                <ul>
                    <li>所属区域：</li>
                    <li><input id="areaName" name="areaName" type="text" class="inputbox" readonly="readonly"/></li>
                    <li></li>
                </ul>
                <div class="clear"></div>
            </li>
            <li><input id="queryButton" name="" type="button" value="  查  询  " class="btn m-button"/></li>
         </ul>
         <input type="hidden" id="areaID" name="areaID" value="-1"/>
         </form>
        <fieldset id="resultDiv" class="hidden"><legend>查询结果</legend>
            <div id="dataDiv">
            <table>
                <thead><tr>
                        <th>楼宇名称</th>
                        <th>所属区域</th>
                        <th>详细报表</th>
                        <th>修改</th>
                        <th>删除</th>
                </tr></thead>
                <tbody id="resultDataDiv">
                </tbody>
            </table>
            <div id="pager"></div>
            @*<input id="exportExcel" name="exportExcel" type="button" value=" 导出Excel " class="btn" />*@
            </div>
            <div id="noDataDiv">当前查询范围没有数据</div>
        </fieldset>
    </div></div>
</div></div>

<div id="roomSelectDiv" class="roomSelectDiv hidden" title="请选择区域">
    <ul>
        <li style="display: block;">
            <h4>选择校区</h4>
            <div class="divSelectRoom1"><select id="selectedSchool" name="selectedSchool" multiple="multiple">
            </select></div>
        </li>
        <li id="schoolAreaDiv">
            <h4>选择区域</h4>
            <div id="divSchoolArea"><select id="selectedSchoolArea" name="selectedSchoolArea" multiple="multiple">
            </select></div>
        </li>
    </ul>
    <div id="dialogErrorTip" class="clear a-center red hidden">请选择一个区域</div>
</div>
<div id="detailBuildingDiv" class="hidden" title="详细信息"></div>
<script type="text/javascript">
    $(function () {
        $("#buildingName").change(function () {
            $("#resultDiv").slideUp("fast");
            $("#dataDiv").hide();
        });
        $("#exportExcel").click(function () {
            var parameters = "?buildingName=" + $("#buildingName").val()
                             + "&areaID=" + $("#areaID").val();
            window.open('@Url.Action("GetBuildingExcel","Information")' + parameters, "_self");
        });
        $("#areaName").click(function () {
            $("#dialogErrorTip").hide();
            $("#roomSelectDiv").dialog({
                modal: true,
                width: 370,
                resizable: false,
                buttons: {
                    '选择': function () {
                        var selectedObjs = $("#selectedSchoolArea option:selected");
                        if (selectedObjs.length == 1) {
                            $("#areaID").val($("#selectedSchoolArea").val());
                            $("#areaName").val(selectedObjs.text());
                            $("#resultDiv").slideUp("fast");
                            $("#dataDiv").hide();
                            $(this).dialog("close");
                        } else {
                            $("#dialogErrorTip").slideDown("fast");
                        }
                    },
                    '清除': function () {
                        $("#areaID").val(-1);
                        $("#areaName").val("");
                        $("#resultDiv").slideUp("fast");
                        $("#dataDiv").hide();
                        $(this).dialog("close");
                    }
                }
            });
        });
        $("#queryButton").click(function () {
            if (!$("#resultDiv").is(":visible")) {
                global_totalPages = -1;
                pageClick(1);
            }
        })

        var global_totalPages = -1;
        function pageClick(pageIndex) {
            var loadingImg = $('<img src="@Url.Content("~/Content/images/loading_mid.gif")" title="Loading" width="100" />')
            $("#dataDiv").hide();
            $("#noDataDiv").html(loadingImg).show();
            $("#resultDiv").slideDown("fast");
            $.getJSON('@Url.Action("QueryBuildingAjax", "Information")', {
                currentPage: pageIndex,
                totalPages: global_totalPages,
                buildingName: $("#buildingName").val(),
                areaID: $("#areaID").val()
            }, function (jsonData) {
                if (jsonData == null) {
                    $("#dataDiv").hide();
                    $("#noDataDiv").html('没有权限或登录超时，尝试重新 @Html.ActionLink("登录", "Index2", "Homes", new { area = "" }, null)').show();
                    return;
                }
                if (global_totalPages = -1) {
                    global_totalPages = jsonData.totalPages;
                }
                if (global_totalPages < 1) {
                    $("#noDataDiv").html("当前查询范围没有数据").show();
                    $("#dataDiv").hide();
                    return;
                }
                $("#noDataDiv").hide();
                $("#pager").pager({ pagenumber: pageIndex, pagecount: global_totalPages, buttonClickCallback: pageClick });
                $("#resultDataDiv").html($("#dataTemplate").tmpl(jsonData.data, {
                    alternate: function (item) {
                        return ($.inArray(item, jsonData.data) % 2) ? "alt" : "";
                    }
                }));
                $("#dataDiv").show();
            });
        }

        $("#selectedSchool").change(function () {
            $.getJSON('@Url.Action("GetAreasBySchoolIDAjax", "Util")', { schoolID: this.value }, function (jsonData) {
                $("#selectedSchoolArea").html("");
                $("#roomDataTemplate").tmpl(jsonData).appendTo("#selectedSchoolArea");
                $("#divSchoolArea").attr("class", "divSelectRoom4");
                $("#schoolAreaDiv").fadeIn("fast");
            });
        });
        $.getJSON('@Url.Action("GetAllShoolAjax", "Util")', null, function (jsonData) {
            $("#roomDataTemplate").tmpl(jsonData).appendTo("#selectedSchool");
        });

    });

    function deleteBuilding(buildingID) {
        $.getJSON('@Url.Action("QueryBuildingRoomCountAjax", "Information")', {
            buildingID: buildingID
        }, function (jsonData) {
            if (jsonData == 0) {
                if (confirm("确认删除?")) {
                    $.getJSON('@Url.Action("DeleteBuildingAjax", "Information")', {
                        buildingID: buildingID
                    }, function (jsonData) {
                        if (jsonData == true) {
                            alert("删除成功");
                            $("#resultDiv").slideUp("fast");
                        } else {
                            alert("删除失败");
                        }
                    });
                }
            } else {
                alert("所选删除楼宇包含" + jsonData + "个房间数据，不能删除，请先删除其拥有的房间数据再删除该楼宇！");
            }
        });
    }

    //    function queryDetail(buildingID) {
    //        $.getJSON('@Url.Action("QueryBuildingDetailAjax", "Information")', {
    //            buildingID: buildingID
    //        }, function (jsonData) {
    //            $("#detailBuildingDiv").html("");
    //            $("#detailTemplate").tmpl(jsonData).appendTo("#detailBuildingDiv");
    //            $("#detailBuildingDiv").dialog({ modal: true, resizable: false });
    //        });
    //    }
</script>
<script id="dataTemplate" type="text/x-jQuery-tmpl">
    <tr class="${$item.alternate($data)}"><td>${BuildingName}</td><td>${AreaName}</td>
    <td><a href='@Url.Action("DetailBuilding", "Information")?b=${BuildingID}'>详细报表</a></td>
    <td><a href='@Url.Action("ModifyBuilding", "Information")?b=${BuildingID}'>修改</a></td>
    <td><a href='#' onclick="deleteBuilding('${BuildingID}')">删除</a></td>
    </tr>
</script>
<script id="roomDataTemplate" type="text/x-jQuery-tmpl">
	<option value="${dataID}">${dataValue}</option>
</script>
<script id="detailTemplate" type="text/x-jQuery-tmpl">
    <table>
        <tr><td>楼宇名称：</td><td>${buildingName}</td></tr>
        <tr><td>楼宇代码：</td><td>${buildingCode}</td></tr>
        <tr><td>楼宇地址：</td><td>${buildingAddr}</td></tr>
    </table>
</script>